page-home {


  /* Breakpoints
  // ========================================================================== */
  $break-0:0;
  $break-1:20em; /* 320px */
  $break-2: 30em; /* 480px */
  $break-3: 37.5em; /* 600px */
  $break-4: 48em; /* 768px */
  $break-5: 60em; /* 960px */
  $break-6: 68.75em; /* 1100px */

  $browser-default-font-size:16px;
  $layout-size:16px;

  /* Convert px to ems
  // ========================================================================== */
  @function px-to-ems( $pixels, $context: $browser-default-font-size ) {
    @return #{$pixels/$context}em;
  }

  @function return-ems( $pixels, $context ) {
    @return #{$pixels/$context}em;
  }
  @function layout-ems( $pixels, $context: $layout-size ) {
    @return #{$pixels/$context}em;
  }

  @mixin center {
    margin-left: auto;
    margin-right: auto;
  }

  .news-listing {
    padding: px-to-ems(22px) px-to-ems(17px) px-to-ems(4px);
    @media (min-width:$break-1) {
      @include center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      &:after {
        content:'';
        display: block;
        margin-left: 48.38%;
      }
    }
    @media (min-width:$break-4) {
      padding-left: px-to-ems(26px);
      padding-right:px-to-ems(26px);
      &:after {
        margin-left:31.91%;
      }
    }
    @media (min-width:$break-5) {
      padding-left:px-to-ems(28px);
      padding-right:px-to-ems(28px);
    }
    @media (min-width:layout-ems(996px)) {
      padding-left:calc(50% - 470px);
      padding-right:calc(50% - 470px);
    }
  }
  .new {
    @include center;
    margin-bottom: px-to-ems(18px);
    max-width: px-to-ems(300px);
    @media (min-width:$break-1) {
      margin-left:0;
      margin-right: 0;
      max-width:none;
      width:48.38%;
    }
    @media (min-width:$break-4) {
      width:31.91%;
    }

    a {
      text-decoration: none;
    }
  }

  ion-row {
    padding: 0;
  }

  ion-card {

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .segment-md .segment-button {
    height: 100%;
  }

}
